body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#navBar{
  border: 1px solid black;
  display: flex;
  align-items: center;
}

#navList{
  display: flex;
  gap: 20px;
  list-style-type: none;
}

#maintenanceForm{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px 10px;

}
#vehicleMaintenanceDiv{
  border: 1px solid black;
}

input, select {
  margin-bottom: 20px;
}

#maintenanceButton{
  margin-left: 40%;
  width: 20%;
  height: 30px;
  font-weight: bold;
}

#maintenanceHeading{
  margin-left: 40%;
}

#navListDiv{
  margin-left: 12%;

}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}